<h1>Create a new meeting</h1>

<%= form_for @meeting, url do |f| %>
  <div><%= f.label :location %><br />
  <%= f.text_field :location %></div>

  <div><%= f.label :start_time %><br />
    <%= f.text_field :start_time %></div>

  <div><%= f.label :end_time %><br />
    <%= f.password_field :end_time %></div>

  <div><%= f.submit "Create Meeting" %></div>
<% end %>
